@media(max-width:700px){
     .form-inside .shape-container{
        display: none;
    }
    .form-inside .form-container{
        width: 100%;
        margin-right: 0px;
    }
    .form-inside .form-container form{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .container-filter-rooms .filters {
    padding-top: 0px;
    }
   
    .form-inside .form-container .form-group{
        width: 32%;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
       justify-content: center;
     
    }
    .form-inside .form-container .form-group input{
        height: 65px;
        border-radius: 10px;
    }
    .form-inside .form-container .form-group button{
        margin-bottom: 0px;
        height: 65px;
    }
    .form-inside .form-container .form-group:nth-child(3){
        margin-bottom: -30px;
    }
    form .terms-cond{
        margin-top: 30px;
    }
    .form-container-main .form-inside{
        margin: 0px;
        padding: 40px;
        margin: auto;
    }
    .hover-cards{
        padding: 60px 30px 100px 30px;
    }
   
    
    .news-container .swiper-button-next{
        margin-right: 80px;
    }
    header .buttons-swiper{
       
        right: 3%;
    }
    .form-container h3{
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .form-container-main .form-inside {
padding-bottom: 40px;
}
.other-projects-container .project-cards .project-card:nth-child(2){
    display: none;
}
.other-projects-container .project-cards .project-card:nth-child(3){
    display: none ;
}
.other-projects-container .project-cards .project-card{
    width: 100%;
}
.other-projects-container .project-cards{
    flex-direction: column;
}
.other-projects-container .other-projects{
    padding: 40px;
}
.other-projects-container .project-cards .project-card .tags .image-container{
    width: 100%;
    height: 100%;
}
.other-projects-container .project-cards .project-card .image-container img{
    object-fit: cover;
}
.other-projects-container .project-cards .project-card .other-info .count p{
    margin-bottom: 0px;
}
.other-projects-container{
    padding: 35px 0px 35px 0px;
}
}

@media (max-width:1200px){
    .tab-content .swiper-card{
        width: 48%;
    }
    .card-content .content-img{
        height: 395px;
    }
    .hover-cards .card{
        height: 500px;
    }

}
@media (max-width:1280px){
header{
    height: 800px;
}
header .swiper-slide .slider-bottom .slider-bottom-left{
    width: 31%;
}
header .swiper-slide .slider-bottom .slider-bottom-right{
    justify-content: end;
}
.mySwipernews .swiper-wrapper .swiper-slide{
    width: 45% ;
    margin-bottom: 30px;
  }
 .mySwipernews .swiper-button-container{
    display: none;
  }
  .news-container .news-head{
    width: 100%;
  }
}
@media (max-width:1242px){


}
@media (max-width:1070px) {
    header .navbar .container-fluid{
        margin: 0px;
    }
    .footer-middle .footer-nav-1 .hidden-icon{
        display: inline;
    }
    .footer-middle  .column-2{
        flex-direction: column;
        width: 100%;
    }
    .footer-middle .right-column .column-2 {
    width: 100%;
    }
    .footer-middle .right-column .column-2 p  {
        display: flex;
        justify-content: space-between;
        width: 100%;
        }
        .footer-middle .right-column .column-2 p  .hidden-icon{
            color: rgb(180, 180, 180);
            font-size: 25px;
        }   
    .footer-middle  .column-1{
        margin-bottom: 0px;
    }
    .footer-middle .left-column{
        width: 50%;
        margin-right: 30px;
    }
    .footer-middle .right-column{
        flex-direction: column;
        width: 50%;
    }
    .column-2 .footer-nav-1 .res-hidden{
        display: none;
    }
   
    .res-hidden.active{
        display: block;
    }
    .footer-middle .left-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
.footer-bottom{
    flex-direction: column;
}
.footer-bottom .bottom-left{
    margin-bottom: 30px;
    width: 100%;
}
.footer-bottom .bottom-right{
    width: 100%;
    justify-content: space-between;
}
.buttons-swiper .custom-prev-button{
    width: 50px;
    height: 50px;
}
.buttons-swiper .custom-next-button{
    width: 50px;
    margin-left: 0px;
    height: 50px;
}
.slider .slider-content .img-card img{
    height: 60%;
}

}

@media(max-width:1254px){
    .head-section .head-container .head-right img{
width: 100%;
    }
    .head-section .head-container{
        flex-direction: column;
        align-items: start;
    }
    .head-section .head-container .head-right{
        width: 100%;
    }
    .head-section .head-container .head-right .image-lazy{
        display: none;
    }
    .head-section .head-container .head-left{
        width: 100%;
    }
    .head-section nav{
        margin-bottom: 20px;
        display: none;
    }
    .head-container .head-left h1{
        display: none;
    }
    .head-section .head-container .head-right .image-lazy img{
        display: none;
    }
    .head-section .head-container .head-right .project-logo{
        margin-bottom: 0px;
    }
    .first-slider {
       padding-left: 20px;
       padding-right: 20px;
    }
    .about-container #about-project {
    padding: 0 3rem;
    }
    .about-container .about-up{
        align-items: start;
    }
    .location-container #location {
    padding: 0 3rem;
    }
    .adv-container .advantages{
        padding: 50px 3rem;
    }
    .general-plan h2{
        padding: 0 3rem;

    }
    .filter-room-general .filter-tab{
        padding: 0 3rem;
    }
    .container-filter-rooms{
        flex-direction: column;
    }
    .container-filter-rooms .fil-cont{
        width: 100%;
    }
    .container-filter-rooms .filters .filtre-buttons{
        width: 20%;
    }
    .container-filter-rooms .cardlar .card {
    width: 23%;
    }
    .container-filter-rooms .card-right-side{
        width: 100%;
        margin-left: 0px;
    }
    .container-filter-rooms{
        height: max-content;
    }
    .container-filter-rooms .fil-cont{
        height: 300px !important;
    }
    .container-filter-rooms .card-right-side .card{
        align-items: center;
    }
    .container-filter-rooms .card-right-side .card img{
        width: 380px !important;
    }
    .container-filter-rooms .card-right-side .left-side-content{
        margin-bottom: 10px;
    }
    .container-filter-rooms .card-right-side .left-side-content p{
       display: none;
    }
    .container-filter-rooms .card-right-side .description{
        width: 100%;
        justify-content: space-between;
    padding: 0 2rem;
    }
    .container-filter-rooms .room-area .plan-img{
        display: flex;
        justify-content: center;
    }
    .container-filter-rooms .card-right-side .left-side-img{
        width: 100%;
    }
    .container-filter-rooms .cardlar .card img{
        width: 100%;
    }
}

@media(max-width:995px){
    header .navbar-expand-lg .navbar-collapse{
        flex-direction: column;
        align-items: start !important;
        padding-top: 30px;
        background-color: white;
        align-items: center;
        height: 250px;
      }
      header .navbar-toggler{
        outline: none;
      }
      header .header-right {
    height: 100px;  
    }
     
      header .navbar-expand-lg .navbar-collapse .me-auto{
        height: 70%;
      }
      header .responsive-icons{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
      }
      header .responsive-icons a{
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        border: 1px solid rgb(204, 204, 204);
        color: black;
        width: 40px;
        align-items: center;
        font-size: 12px;
        height: 40px;
        margin-right: 10px;
      }
      header .navbar-expand-lg .navbar-collapse .nav-item a{
        color: black;
        margin-bottom: 10px;
      }
      header .navbar-expand-lg .navbar-collapse .header-right i{
        color: black;
      }
      header .navbar-expand-lg .navbar-collapse .header-right  .header-num a{
        color: black;
      }
      
    header .header-right li:nth-child(3){
        display: none;
    }
    header .header-right li:nth-child(4){
        display: none;
    }
    .container-filter-rooms {
    padding-left: 35px;
    }
    .slider-projects .month-slider-filter button {
    width: 100px;
    }
    .other-projects-container .project-cards{
        flex-direction: column;
    }
    .other-projects-container .project-cards .project-card{
        width: 100%;
        margin-bottom: 10px;
    }
    .other-projects-container .project-cards .project-card .tags{
        display: none;
    }
    .other-projects-container .project-cards .project-card img{
        height: 200px;
    }
    .slider-projects .slider-project-container{
        flex-direction: column;
        align-items: start;
    }
    .month-slider-filter{
        display: none;
    }
    .slider-projects .slider-project-container .live-camera{
        width: 70%;
        margin-bottom: 30px;
    }
    .slider-projects .live-camera .live-cam img{
        width: 100%;
        height:300px ;
    }
    .container-filter-rooms{
        flex-direction: column;
    }
    .container-filter-rooms .filters {
    width: 100% !important;
    height: 300px !important;
}
.container-filter-rooms .card-right-side{
    margin-top: 20px;
    width: 100%;
}
header .swiper-slide .slider-bottom .slider-bottom-right button{
    width: 240px;
    padding: 13px;
}
header .swiper-slide .slider-bottom .slider-bottom-right{
    /* justify-content: start; */
}
.about-down{
    height: 300px;
}
.about-down-left .img-card .img-content h3{
    font-size: 20px;
}
.about-down-right .img2-text h3{
    font-size: 20px;
}

}

@media(max-width:680px){
    .about-down{
        flex-direction: column;
        height: max-content;
    }
    .about-down-left {
    width: 100%;
    }
    .about-down-right{
        width: 100%;
    }
    .about-down-left .img-content{
        bottom: 10px;
    }
    .about-down .about-down-left img {
    width: 100%;
    height: 80%;
    }
    .about-down-left .img-card .img-content p{
        margin-bottom: 0px;
    }
    .about-container .about-up{
        flex-direction: column;
    }
    .about-container .about-up p{
        width: 100%;
    }
}

@media(max-width:850px){
   .hover-cards   .card-tags span {
font-size: 13px;   
}
    .hover-cards{
        padding: 60px 0px 61px 0px;
    }
   
    .form-container h3{
        font-size: 30px;
    }
    .hover-cards .cards-common{
    align-items: center;
    }
    .card-content .content-img {
    height: 340px;
    }
    .hover-cards .card{
        height: 525px;
    }
    header{
        height: 1200px;
    }
    .container-inside-main .cards-common{
        flex-wrap: wrap;
    }
 .card-main{
    width: 48%;
    margin-bottom: 25px;
}
  
}

@media (max-width:766px) {
    .calculator .left-side{
        margin-top: 40px;
        padding: 30px;
    }
    .calculator .left-side h2{
      text-align: center;
    margin-bottom: 60px;
    }
    .calculator .justify-content-evenly .for-select label{
        display:none ;
    }
    
}

@media (max-width:750px){
    .footer-middle{
        width: 100%;
        flex-wrap: wrap-reverse;
        margin-bottom: 30px;
    }
    .footer-middle .left-column{
width: 100%;
margin-right: 0px;
    }
    .footer-middle .right-column{
        width: 100%;
        padding: 30px;
    }
    .footer-middle .right-column .column-2 p{
        margin-bottom: 0px;
    }
    .right-column .column-2 .footer-nav-1{
        border-top: 0.5px solid rgb(184, 182, 182);
        padding: 22px 0px 17px 22px;
        padding-left: 0px;
    }
    .footer-middle .left-column{
        padding: 30px;
        margin-top: 20px;
    }
    .footer-middle .left-column .num-adr
    { 
        margin-bottom: 20px;
    }
    .footer-middle .left-column .num-adr .social-icons{
        align-self: flex-end;
    }
    .tab-content .tab-up{
        display: none;
    }
    .allnews .tab-down .swiper-card{
        width: 100% !important;
    }
    header .swiper-slide .slider-bottom{
        flex-direction: column;
        align-items: center;
    }
    header .swiper-slide .slider-bottom .slider-bottom-left{
        width: 100%;
    }
    header .buttons-swiper{
        display: none;
    }
    header .swiper-slide .slider-bottom .slider-bottom-right{
        width: 100%;
        padding-right: 0;
    }
    header .swiper-slide .slider-bottom .slider-bottom-right button{
        width: 100%;
    }
    header .swiper-slide .slider-bottom .slider-bottom-left h3{
        font-size: 35px;
        margin-bottom: 0px;
    }
    header .swiper-slide .slider-bottom .slider-bottom-left p{
        font-size: 17px;
    }
    
}


@media (max-width:880px){
    .slider .slider-content .img-card .img-content{
        padding: 15px;
        
    }
    .slider .slider-content .img-card img {
height: 87%;
}
    .adv-container .slider {
    height: 420px;
    }
    .adv-container .advantages h3{
        font-size: 23px;
    }
}

@media( max-width:912px){
header{
    height: 1370px;
}
header .swiper-slide .slider-bottom .slider-bottom-right{
    justify-content: center;
}
.swiper-button-container{
    display: none;
}
.news .swiper-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.news-container .mySwipernews .swiper-slide{
    height: 220px;
}
.news-container .mySwipernews a h5{
    padding: 20px;
}
.news-container .mySwipernews .swiper-slide .news-down{
    padding-left: 20px;
}
.news-down .swiper-date{
    padding-left: 0px;
    margin-bottom: 0px;
}
}
@media (max-width:550px){
    header .swiper-slide .slider-bottom .slider-bottom-right button{
        padding: 27px;
    }
    header .swiper-slide .slider-bottom .slider-bottom-right button{
        width: 80%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    header{
        height: 500px;
    }

    .slider .slides{
        max-height: 430px;
     }
     .news .swiper-wrapper{
        flex-wrap: nowrap;
     }
     .swiper-button-container{
        display: block;
     }
     .news-head h3{
        font-size: 26px !important;
     }
     .news-head a{
        display: none;
     }
     .news-container .mySwipernews .swiper-slide{
        height: 300px;
     }
     .news .hidden-all-news{
        display: block;
        width: 100%;
        padding: 18px;
        background-color: #e8eaef;
        text-align: center;
        color: black;
        font-size: 19px;
     }
     .news .hidden-all-news a{
        color: black;
     }
     .about-down{
        flex-direction: column;
     }
     .news-container .swiper-button-next {
right: -35px;
transform: none;
     }
     .news-container .swiper-button-prev {

transform: none;
     }
     .calculator .right-side{
        height: 400px;
     }
     .nav-tabs{
        margin-bottom: 25px;
     }
     .slider-projects h2{
        padding-top: 0px0;
     }
}
@media (max-width:690px){
    .slider-container .inner_content img{
        height: 100%;
    }
    .slider .slides .slide{
        height: 100%;
    }
    .slider-container .inner_content{
        height: 350px;
    }
    .map-container .map-card{
        height: max-content;
        width: 100%;
    }
    .map-container .map-card img{
     display: none !important;
    }
    .map-container .map-card {
top: 300px;
left: 0%;
padding: 20px;
}
}

@media(max-width:640px){
    header .swiper-slide .slider-bottom{
        flex-direction: column;
        align-items: center;
        bottom: 83px;
        width: 100%;
    }
    header{
        height: 667px;
    }
    header .swiper-slide .slider-bottom {
    width: 100%;
    padding: 20px;
    }
    header .swiper-slide .slider-bottom .slider-bottom-right{
        width: 100%;
        margin-top: 20px;
    }
    header .swiper-slide .slider-bottom .slider-bottom-left{
        width: 100%;
    }
    header .swiper-slide .slider-bottom .slider-bottom-right button{
        width: 100%;
    }
    .container-inside-main .cards-common{
        flex-direction: column;
    width: 100%;
    }
    .card-main{
        width: 100%;
    }
    .hover-cards .card{
        height: 504px;
    }
    .hidden-content{
        margin-top:-110px;
    }
    .first-slider .swiper{
        height: 500px;
    }
}

@media(max-width:537px){
    .slider .slides {
    max-height: 400px;
    }
    .slider-container .inner_content {
    height: 260px;
    }
    .slider-container #myCarousel .item p {
    font-size: 15px;
    }
    .slider .slides{
        max-height: 350px;
     }
     .form-container h3{
        font-size: 1.5rem;
    }
    .form-inside .form-container .form-group input {
    height: 55px;
    }
    .form-inside .form-container .form-group button{
        height: 55px;
    }
    .form-inside .form-container input{
        font-size: 14px;
    }
    .form-inside .form-container button{
        font-size: 14px;
    }
    .container-filter-rooms .obyekt-filter{
        flex-direction: column;
    }
    .other-projects-container .project-cards .project-card:nth-child(2){
        display:flex;
        flex-direction: column;
    }
    .other-projects-container .project-cards .project-card:nth-child(3){
        display: flex;
        flex-direction: column;
    }
    .other-projects-container{
        padding: 35px 0px 35px 0px;
    }
}

@media(max-width:500px){
    .slider-container .inner_content{
        height: 180px;
    }
    .slider .slides{
        max-height: 270px;
     }
     .slider-container #myCarousel .item p {
    font-size: 10px; 
    }
    .hover-cards .card {
    height: 500px;
    }
    .card-content .content-img {
    height: 330px;
    }
    .form-inside .form-container form{
        flex-direction: column;
    }
    .form-inside .form-container .form-group {
    width: 100%;
    margin-bottom: 20px;
    }
    form .terms-cond {
    margin-top: 45px;
    }
    .footer-inner .social-icons{
        display: flex;
        flex-direction: column;
    }
    .container-inside-main .mt-50{
        font-size: 27px;
    }
    .form-inside .form-container .form-group{
        margin-top: 15px;
    }
    form .terms-cond{
        width: 80%;
    }
    .about-down .about-down-left img {
    height: 60%;
    }
    .about-down-right .img-card2 img {
    width: 70%;
    }
    .adv-container .slider{
        height: 450px;
    }
    .slider .slider-content .img-card .img-content{
        padding: 15px;
    }
}


@media (max-width:560px){
    .head-section{
        padding: 10px;
    }
    .about-container .about-up{
        flex-direction: column;
    align-items: start;
    }
    .about-container .about-up p{
        width: 100%;
    }
    .about-down{
        flex-direction: column;
        height: max-content;
    }
    .about-down-left {
    width:100%;
    gap: 10px;
    }
    .about-down-left .img-card{
        height: 250px;
    }
    .about-down-right{
        width: 100%;
        gap: 7px;
    }
    .about-down-right .img-card2{
        height: 156px;
        margin-top: 15px;
    }
    .about-down-right .img2-text {
    height: 160px;
    }
    .about-down-right .img2-text .text-left{
        padding-bottom: 5px;
        
    }
    .about-down-right .img2-text .text-right{
        padding-bottom: 5px;
    }
    .about-down-right .img2-text .text-left h3{
        font-size: 18px;
        
    }
    .about-down-right .img-card2 .img-content{
        bottom: 10px;
    }
    .about-down-right .img-card2 .img-content h3{
        font-size: 19px;
    }
    .about-down-right .img2-text .text-right h3{
        font-size: 18px;
    }
    .about-down-left .img-content h3{
        font-size: 19px;
    }
    #map{
        height: 300px;
        border-radius: 20px;
    }
    .slider .slider-content .img-card{
        width: 460px;
    }
    .adv-container .slide{
        margin-right: 0px;
    }
    .slider .slider-content .img-card .img-content {
    width: 100% !important;
    }
    .adv-container .tabs {
        padding-bottom: 10px;
width: 100%;
display: flex;
overflow: scroll;
}
    .adv-container .tabs-up{
        display: block;
    }
    .general-plan .gen-plan-img{
        height: 500px;
    }
    .swiper-backface-hidden .swiper-slide{
        padding: 0px;
    }
    .general-plan{
        padding: 0px;
    }
    .adv-container .advantages{
        margin-bottom: 30px;
        padding-bottom: 35px;
        padding-top: 35px;
    }
    .general-plan h2{
        margin-bottom: 0px;
    }
    .slider-projects .slider-project-container{
        flex-direction: column;
    }
    .map-container .map-card{
        width: 80%;
    }
    .container-filter-rooms .cardlar .card{
        width: 100%;
        height: 135px;
        display: flex;
        flex-direction: row;
    }
    .container-filter-rooms .filters{
        height: 400px !important;
    }
    .container-filter-rooms .cardlar .card img{
        width: 80px;
    }
    .container-filter-rooms .card-right-side .card img{
height: 200px !important;
        width: 200px !important;
    }
    .container-filter-rooms .card-right-side {
height: 400px;
    }
    .container-filter-rooms .card-right-side .left-side-img .room-area{
        margin:0px;
    }
    .container-filter-rooms .card-right-side .left-side-content{
        margin-top: 5px;
        padding: -15px;
        
    }
    .container-filter-rooms .card-right-side .description{
        flex-direction: column;
    }
    .container-filter-rooms .card .description span{
        display: none;
    }
    .card-right-side .description a{
        margin: 0px;
        width: 100%;
    }

    .container-filter-rooms{
        padding: 0px !important;
    }
    .container-filter-rooms .obyekt-filter .left{
        width: 100% !important;
    }
    .container-filter-rooms .obyekt-filter .right{
        width: 100%;
    }
    .map-container .map-card {
        top: 230px;
        left: 9%;
        padding: 20px;
        }
}


@media (max-width:350px){
    header .responsive-icons a{
        display: none;
    }
    header .navbar-expand-lg .navbar-collapse{
        flex-direction: row;
    }
    header .header-right li:nth-child(3){
        display: block;
    }
    header .header-right li:nth-child(4){
        display: block;
    }
    header .header-right{
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        margin-right: 15px;
    }
    .news .hidden-all-news{
        padding: 10px;
    }
}
@media (max-width:330px){

.card-content h3{
    line-height: 30px;
    padding-bottom: 20px;
}
}
